<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="ni" namespace="NationalInstruments.UI" assembly="NationalInstruments.UI, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
        <add tagPrefix="ni" namespace="NationalInstruments.UI.WebForms" assembly="NationalInstruments.UI.WebForms, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="NationalInstruments.Common, Version=15.1.40.49152, Culture=neutral, PublicKeyToken=dc6ad606294fc298"/>
        <add assembly="NationalInstruments.UI, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
        <add assembly="NationalInstruments.UI.WebForms, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ImageStateHandler"/>
      <add name="ImageStateHandler" preCondition="integratedMode" path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms, Version=15.0.45.49153, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
    </handlers>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.MStudioCLM" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
